body {
	font-size: 1em;
	color: #1A1A1A;
	font-family: Arial;
	background: #FFFF85;
	margin-left: 20%;
	margin-right: 20%;
}

p {
	text-indent: 5%;
}

a:link {
	text-decoration: none;
	color: #550055;
}
a:visited {
	text-decoration: none;
	color: #3D003D;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
	color: #990099;
}

.mainheader { 
	margin: 10px;
	color: #550055;
	font-size: 3em;
	text-align: center;
	text-shadow: 2px 2px #888888;
	width: 100%;
}

.secondaryheader {
	margin-top: 25px;
	margin-bottom: 5px;
	color: #550055;
	font-size: 2em;
	text-align: left;
	text-shadow: 2px 2px #888888;
	width: 100%;
}

.internallink {
	text-align: center;
	font-size: 1.3em;
}

.quallist {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	/* padding-left: 5%; */
	/* padding-right: 5%; */
	background-color: #FFADFF;
}

.date {
	width: 60%;
	min-width: 150px;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 5%;
	padding-bottom: 5px;
	padding-top: 5px;
}

.title {
	font-size: 1.4em;
	font-weight: bold;
	padding-right: 5%;
	padding-left: 10%;
}

.description {
	text-indent: 5%;
	padding-right: 5%;
	padding-left: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#propic {
	text-align: center;
}

.bio {
	text-align: justify;
}

.disclaimer {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5%;
	padding-left: 5%;
}